// BANNER - HOME - TOPO
// ====================================================================
%g_banner_home-top {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_home-top {
    #remover_este_bloco {
        display: none;
    }
}

%m_banner_home-top {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - HOME - MAIN
// ====================================================================
%g_banner_home-main {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_home-main {
    #remover_este_bloco {
        display: none;
    }
}

%m_banner_home-main {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - HOME - SPECIALSTORE
// ====================================================================
%g_banner_home-specialstore {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_home-specialstore {
    #remover_este_bloco {
        display: none;
    }
}

%m_banner_home-specialstore {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - HOME - BETWEENVIT
// ====================================================================
%g_banner_home-betweenvit {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_home-betweenvit {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_home-betweenvit {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - HOME - BOTTOM
// ====================================================================
%g_banner_home-bottom {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_home-bottom {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_home-bottom {
    #remover_este_bloco {
        display: none;
    }
}


// BANNER - CATEGORIA - TOP
// ====================================================================
%g_banner_cat-top {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_cat-top {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_cat-top {
    #remover_este_bloco {
        display: none;
    }
}


// BANNER - CATEGORIA - MAIN
// ====================================================================
%g_banner_cat-main {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_cat-main {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_cat-main {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - CATEGORIA - BOTTOM
// ====================================================================
%g_banner_cat-bottom {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_cat-bottom {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_cat-bottom {
    #remover_este_bloco {
        display: none;
    }
}






// BANNER - VITRINE - TOP
// ====================================================================
%g_banner_vit-top {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_vit-top {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_vit-top {
    #remover_este_bloco {
        display: none;
    }
}


// BANNER - VITRINE - MAIN
// ====================================================================
%g_banner_vit-main {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_vit-main {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_vit-main {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - VITRINE - BOTTOM
// ====================================================================
%g_banner_vit-bottom {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_vit-bottom {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_vit-bottom {
    #remover_este_bloco {
        display: none;
    }
}

// BANNER - PRODUCT - TOP
// ====================================================================
%g_banner_product-top {
    #remover_este_bloco {
        display: none;
    }
}

%d_banner_product-top {
    #remover_este_bloco {
        display: none; 
    }
}

%m_banner_product-top {
    #remover_este_bloco {
        display: none;
    }
}