//HEADER CONTAINER
//-----------------------------------------------------------
%g_core_header-container {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-container {
    #remover_este_bloco {
        display: none;
    }
}

%m_core_header-container {
    #remover_este_bloco {
        display: none;
    }
}