//HEADER CONTAINER
//-----------------------------------------------------------
%g_core_header-container {
    background: #7d7d7d;
    z-index: 999;
    position: relative;
}

%d_core_header-container {
    width: 100%;
    height: $header-height;

    .container{
        width: 100%;
        height: $header-height;
        .help,
        .welcome,
        .search,
        #logo,
        .car{
            @include reset-position;
        }
    }

    .cont-top{
        height: 35px;
        background-color: #4d4d4d;
        > div{
            @include flexbox(flex, row, nowrap, space-between, center, center);
            height: 100%;
        }
    }

    .cont-middle{
        height: 95px;
        > div{
            @include flexbox(flex, row, nowrap, space-between, center, center);
            height: 100%;
        }
    }

    .cont-bottom{
        height: 40px;
        background-color: #636363;
        > div{
            @include flexbox(flex, row, nowrap, space-between, center, center);
            height: 100%;
        }
    }

    .cont-wrapper{
        width: 100%;
        max-width: $page-w;
        margin: 0px auto;
    }

}

%m_core_header-container {
    height: $mobile-header-height;
    &.active,
    .container,
    .cont-middle,
    .cont-wrapper {
        height: ($mobile-header-height * 2);
    }
    
    .cont-top,
    .cont-bottom{
        display: none;
    }
}

//FIXHEADER CONTAINER
//-----------------------------------------------------------
%g_core_header-fixed {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-fixed {
    &.headerFixed {
        .container-one {
            height: 40px;
            #logo {
                img {
                    max-width: 150px;
                }
            }
        }
    }
}

%m_core_header-fixed {
    #remover_este_bloco {
        display: none;
    }
}

//HEADER WELCOME
//-----------------------------------------------------------
%g_core_header-welcome {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-welcome {
    .welcome {
        position: inherit;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        background: transparent;
        width: auto;
        padding: 0px;
        #identificacao{
            @include fonte($font-one, 400, 12px, #CCC);
            strong{
                margin-right: 10px;
            }
            a{
                @include fonte($font-one, 400, 12px, #CCC);
                text-decoration: none;
            }
        }
    }
}

%m_core_header-welcome {
    #remover_este_bloco {
        display: none;
    }
}

//HEADER HELP
//-----------------------------------------------------------
%g_core_header-help {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-help {
    .help{
        @include flexbox(flex, row, nowrap, flex-end, center, center);
        top: inherit;
        right: inherit;
        bottom: inherit;
        left: inherit;
        height: 100%;
        width: auto;
        *{
            line-height: inherit;
        }
        >li{
            height: auto;
            float: none;
            padding: 0px;
            padding-left: 5px;
            padding-right: 5px;
            &.hide-mobile{
                display: none;
            }
            &:not(:first-child){
                border-left: 1px solid #CCC;
            }
        }
        li,a,span{
            @include fonte($font-one, 400, 12px, #CCC);
            background: none;
            display: block;
            width: auto;
        }
        a,span{
            padding: 0px;
            &:hover{
                @include fonte($font-one, 400, 12px, #FFF);
                text-decoration: none;
                
            }
        }
    }
}

%m_core_header-help {
    & + .wrap-nav-mobile.active .help{
        padding-top: 0px;
    }
}

//HEADER LOGO
//-----------------------------------------------------------
%g_core_header-logo {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-logo {
    #logo {
        position: inherit;
        h1{
            margin: 0px;
        }
        img {
            @include transition();
            max-width: 250px;
        }
        span {
            font-size: 0px;
        }
    }
}

%m_core_header-logo {
    .container #logo {
        height: $mobile-header-height;
        @include flexbox(flex, row, nowrap, center, center, center);
        padding-left: 60px;
        padding-right: 90px;
        a,
        img {
            width: auto;
            height: 100%;
            display: block;
            padding: 0px;
        }
        span {
            font-size: 0px;
        }
    }
}


//HEADER SEARCH
//-----------------------------------------------------------
%g_core_header-search {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-search {
    #header_busca_container{
        .placeholder {
            @include box-sizing;
            @include radiustl(20px);
            @include radiusbl(20px);
            height: 40px;
            padding: 0px 20px;
        }
        .btn{
            @include radiustr(20px);
            @include radiusbr(20px);
            width: 85px;
            min-width: inherit;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

%m_core_header-search {
    #header_busca_container {
        height: 60px;
        padding: 10px;
    }
    #cabecalho_Buscar_Topo{
        top: auto;
        bottom: 10px;
    }
}

//HEADER SEARCH - CAR
//-----------------------------------------------------------
%g_core_header-car {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-car {
    .container .car{
        position: relative;
        @include flexbox(flex, row, nowrap, flex-start, center, center);
        &:before{
            @include set-icon($fa-var-shopping-basket, 20px, 900, #FFF);
            @include border-radius(50%);
            background: #3e3e3e;
            padding: 15px;
            margin-right: 10px;
        }

        .basket{
            padding: 0px;
            @include reset-position;
            background: none;
            .title{
                padding: 0px;
                @include fonte($font-one, bold, 20px, #FFF);
            }
            .basket-count-label{
                @include fonte($font-one, 400, 13px, #FFF);
            }
        }

        #divSummaryBasket{
            top: 50px;
        }

        .basket-count-number{
            @include flexbox(flex, row, nowrap, center, center, center);
            @include fonte($font-one, 400, 16px, #FFF);
            @include border-radius(50%);
            background: #6e6e6e;
            width: 25px;
            height: 25px;
            position: absolute;
            left: 30px;
        }
    }
}

%m_core_header-car {
    #remover_este_bloco {
        display: none;
    }
}

//HEADER NAV
//-----------------------------------------------------------
%g_core_header-nav {
    #nav,
    .wrap-nav-mobile #nav {
        >li {
            >a {
                @include fonte($font-one, 400, 16px, #FFF);
                @include transition();
                &:hover,
                &.hover {
                    background: #3e3e3e;
                }
            }
        }
    }
}

%d_core_header-nav {
    #nav {
        position: relative;
        width: 100%;
        height: 40px;
        bottom: 0px;
        > li{
            position: static;
        }
    }
}

%m_core_header-nav {
    &+.wrap-nav-mobile {
        top: $mobile-header-height;
    }
    &.active+.wrap-nav-mobile {
        top: $mobile-header-height * 2;
        height: calc(100% -  #{$mobile-header-height * 2});
    }
    &+ .wrap-nav-mobile {
        @include box-sizing();
        height: calc(100% -  #{$mobile-header-height});
        width: 100%;
        border: 0px;
        #identificacao {
            a,
            span {
                @include fonte($font-one, 400, 12px, #FFF);
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        #nav {
            >li {
                background: #ccc;
                height: auto;
                >a {
                    @include fonte($font-one, 400, 18px, #7d7d7d);
                    @include box-sizing;
                    text-transform: uppercase;
                    border: 0px;
                    height: 48px
                }
                .sub-parent {
                    @include center-cont;
                    width: 54px;
                    height: 48px;
                    padding: 0;
                    text-align: center;
                    &:before {
                        @include set-icon($fa-var-plus, 30px, 900, #7d7d7d);
                    }
                    &.active {
                        &:before {
                            @include set-icon($fa-var-minus, 30px, 900, #7d7d7d);
                        }
                    }
                }
                &:hover {
                    background-color: #7d7d7d;
                    >a {
                        background: none;
                        background-color: transparent;
                        color: #FFF;
                        &:before {
                            color: #FFF !important;
                        }
                    }
                }
            }
        }
    }
}

//HEADER NAV
//-----------------------------------------------------------
%g_core_header-subnav {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-subnav {
    #nav > li:hover .sub-nav{
        @include flexbox(flex, row, nowrap, flex-start, flex-start, flex-start);
    }
    .sub-nav { 
        @include box-sizing;
        width: 100% !important;
        padding: 40px;
        left: 0;
        border: 0px;
        background: #ccc;
        .collum {
            >ul {
                >li {
                    a {
                        @include fonte($font-one, normal, 12px, #3e3e3e);
                        border: 0px;
                        &:hover {
                            @include fonte($font-one, bold, 12px, #3e3e3e);
                            text-decoration: none;
                        }
                    }
                }
            }
            &.imagem{
                margin-left: auto;
                width: auto;
                img{
                    width: auto;
                    max-width: 400px;
                }
            }
        }
    }
}

%m_core_header-subnav {
    .wrap-nav-mobile #nav>li>.sub-nav {
        .collum {
            ul>li>a {
                padding: 10px;
                padding-left: 20px;
                text-transform: uppercase;
                @include fonte($font-one, bold, 12px, #3e3e3e);
                &:before {
                    display: none;
                }
            }
        }
    }
}

// HEADER BUTTONS [ONLY MOBILE]
//-----------------------------------------------------------
%m_core_header-btMobile {
    .container .cont-wrapper{
        .btn-nav-mobile,
        .nav-click,
        .header-btn-mobile,
        .header-btn-mobile{
            background: none;
            height: $mobile-header-height;
            @include flexbox(flex, row, nowrap, center, center, center);
        }

        .header-btn-mobile {
            margin-right: 20px;
            a{
                width: auto;
                height: auto;
                margin: 0px;
            }
        }
    }
     
    .nav-click {
        display: block;
        width: 100%;
        height: 100%;
        &:before {
            @include set-icon($fa-var-bars, 35px, 900, #ccc);
        }
    }
    



    .btn-search-top {
        margin-right: 10px;
        &:before {
            @include set-icon($fa-var-search-plus, 25px, 900, #ccc);
        }
    }
    
    &.active .btn-search-top {
        &:before {
            @include set-icon($fa-var-search-minus, 25px, 900, #ccc);
        }
    }
    .container .header-btn-mobile .btn-cart-mobile {
        margin-left: 10px;
        position: relative;
        &:before {
            @include set-icon($fa-var-shopping-cart, 25px, 900, #ccc);
        }
        span.qtd-cart{
            @include border-radius(50%);
            padding: 2px 5px;
            position: absolute;
            right: -5px;
            bottom: -5px;
            background: #3e3e3e;
        }
    }
    .basket-count-number {
        width: 15px;
        height: 15px;
        right: 0px;
        bottom: 0px;
    }
    .btn-nav-mobile,
    .header-btn-mobile {
        .btn-cart-mobile,
        .btn-search-top,
        .nav-click {
            font-size: 0px;
            cursor: pointer;
            &:before {
                @include transition();
                color: #CCC;
                display: block;
            }
            &:hover:before {
                color: #FFF;
            }
        }
    }
}

// HEADER SEARCH [ONLY MOBILE]
//-----------------------------------------------------------
%m_core_header-searchMobile {
    #header_busca_container {
        @include flexbox(flex, row, nowrap, space-between, center, center);
        @include box-sizing;
        width: 100%;
        height: $mobile-header-height;
        background: #3e3e3e;
        padding: 10px;
        input {
            @include center-cont;
            @include box-sizing;
            width: calc(100% - 50px);
            height: 100%;
            padding: 10px;
            background: #bbbdbf;
            border: 0px;
            color: #3e3e3e;
        }
        .btn {
            width: 50px;
            height: 100%;
            font-size: 0px;
            background: #6e6e6e;
            border: 0px;
            min-width: inherit;
            &:before {
                @include set-icon($fa-var-search, 25px, 900, #ccc);
            }
            &:hover {
                background: #7d7d7d;
            }
            &:hover:before {
                color: #FFF;
            }
        }
    }
}

//HEADERBUY
//-----------------------------------------------------------
%g_core_header-headerbuy {
    #remover_este_bloco {
        display: none;
    }
}

%d_core_header-headerbuy {
    &.headerbuy {
        height: 100px;
        .container{
            @include flexbox(flex, row, nowrap, flex-start, center, center);
            @include box-sizing();
            height: 100%;
            padding: 0px;
            width: $page-w;
            #logo{
                margin-left: 20px;
            }
        }
    }
}

%m_core_header-headerbuy {
    #remover_este_bloco {
        display: none;
    }
}


//DELCARATIONS
//=================================================================
%d_core_header-components{
    @extend %g_core_header-container, %d_core_header-container;
    @extend %g_core_header-headerbuy, %d_core_header-headerbuy;
    @extend %g_core_header-welcome, %d_core_header-welcome;
    @extend %g_core_header-help, %d_core_header-help;
    @extend %g_core_header-logo, %d_core_header-logo;
    @extend %g_core_header-search, %d_core_header-search;
    @extend %g_core_header-car, %d_core_header-car;
    @extend %g_core_header-nav, %d_core_header-nav;
    @extend %g_core_header-subnav, %d_core_header-subnav;
}

%m_core_header-components{
    @extend %g_core_header-container, %m_core_header-container;
    @extend %g_core_header-headerbuy, %d_core_header-headerbuy;
    @extend %g_core_header-logo, %m_core_header-logo;
    @extend %m_core_header-btMobile;
    @extend %g_core_header-nav, %m_core_header-nav;
    @extend %g_core_header-search, %m_core_header-search;
    @extend %g_core_header-help, %m_core_header-help;
}
